:root {
  --border-color: #707070;
  --border: 1px solid var(--border-color);
  box-sizing: border-box;
}

body {
  background: linear-gradient(#7873b5, #191920 90%, #29283f) fixed;
  font-family: Arial;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 2.25rem;
}

h2,
.h2 {
  font-size: 1.9rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.35rem;
}

h5,
.h5 {
  font-size: 1.2rem;
}

.row > * {
  padding: 0;
}

#navbar {
  height: 64px;
}

#navbar .logo {
  font-family: Stencil;
  min-width: 215px;
  width: 15%;
  white-space: nowrap;
}

#navbar .account {
  width: 18%;
}

#navbar-searchbar-input:focus {
  outline: none;
}

.content {
  padding-top: 7.5% !important;
}

.anime-section img {
  min-height: 200px;
  object-fit: cover;
}
