:root {
  --border-color: #707070;
  --border: 1px solid var(--border-color);
  box-sizing: border-box;
}

body {
  background: linear-gradient(#7873b5, #191920 90%, #29283f) fixed;
  font-family: Arial;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.border-x {
  border-left: var(--border);
  border-right: var(--border);
}

.navbar {
  background-color: white;
  border: var(--border);
  display: flex;
  height: 64px;
  gap: 1.75rem;
  padding: 0 2.25rem;
}

.navbar > .logo {
  align-items: center;
  display: flex;
  font-family: Stencil;
  justify-content: center;
  width: 15%;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 0.25rem;
  gap: 10px;
}

.navbar-nav > li {
  list-style: none;
}

.navbar > .searchbar {
  flex-grow: 1;
}

.navbar > .account {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 18%;
}

.navbar > .account > .login-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchbar {
  align-items: center;
  display: flex;
  padding: 0 2rem;
}

.searchbar > label {
  align-items: center;
  display: flex;
}

.searchbar > input {
  border: none;
  margin-left: 0.75rem;
  flex-grow: 1;
  font-size: larger;
}

.searchbar > input:focus {
  outline: none;
}

.content {
  padding: 4rem 0;
}

.anime-section {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.anime-section > * {
  border: var(--border);
}

.anime-section > h2 {
  background-color: white;
  height: fit-content;
  grid-column: 1 / span 6;
  padding: 0.75rem;
  text-align: center;
}

.anime-section > a > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
